body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
    }
nav {
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: left;
    }

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
    }


/* Header */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

        

/* Shopping Container */
.shopping-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.shopping-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding:15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}


.card-image {
    width: 100%;
    height: 250px;
    border-radius: 6px;
    /*object-fit: cover;*/
}

.card-info {
    padding: 1.5rem;
    text-align: center;
}

.card-info h2 {
    color: #2d3748;
    margin-bottom: 1rem;
    font-size: 1.2em;
    font-weight: bold;
}

.card-info p {
    color: #4a5568;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.location {
    color: #667eea;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 0.9em;
    text-align: center;
}