body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
    }
nav {
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: left;
    }

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
    }


/* Header */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

        

/* Shopping Container */
.shopping-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 equal columns */
    gap: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
}

.shopping-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 23%;  
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;*/
}

.card-image {
    width: 100%;
    height: 250px;  /* fixed height for all images */
    object-fit: cover;
    /*
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;*/
}

.card-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*padding: 2rem 2rem 2rem 0;*/
}

.card-info h2 {
    min-height: 60px;  /* ensures titles take same space */
    display: flex;
    align-items: center;
    /*
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px 0;*/
}

.card-info p {
    flex-grow: 1;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #667eea;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 0.85em
}

/*.map-btn {
    display: inline-block;
    background: black;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
    transition: background 0.3s;
}

.map-btn:hover {
    background: #333;
}*/

/* Responsive 
@media (max-width: 768px) {
    .card-content {
        grid-template-columns: 1fr;
    }

    .card-info {
        padding: 1.5rem;
    }

    .header h1 {
        font-size: 2rem;
    }
}*/