body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* NAVIGATION BAR */
nav {
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: left;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #000;olor: #666;
}
/*.navbar {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}*/

.main-title {
    margin-top: 30px;
    font-size: 36px;
    font-weight: bold;
}

.button-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.nav-button {
    width: 280px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.nav-button img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}

.nav-button:hover {
    background-color: #ececec;
}
